.DS_Store
local.rb
Vagrantfile
.envault.yml
.Gemfile.lock.tags
.tags
tags
.ruby-version
Session.vim*
GPATH
GRTAGS
GTAGS
projections.json
.ignore
.solargraph.yml
pyrightconfig.json
vendor/
.config/coc/
.vim/plugged/
.vim/sessions/
.vim/undodir/
.vim/plugins.local
.ropeproject
coc-settings.json
.config/*
.netrwhist
!.config/nvim/
!my_alt_functions.json
!my_application_functions.json
silicon*
.tool-versions
.ipynb_checkpoints
wt/
lefthook.yml
.env.orig
